---
import Carrousel from "@/components/Carrousel.astro";
import ImageModal from "@/components/modals/ImageModal.astro";
import Subsection from "@/components/sections/Subsection.astro";
import { RECOGNITIONS } from "@/data/recognition";
import RecognitionItem from "@/features/experience/RecognitionItem.astro";
import { useT } from "@/i18n/utils";

const t = useT();
---

<Subsection title="experience.recognitions.title">
	<Carrousel id="recognitions" itemHalfWidth="9rem">
		{
			RECOGNITIONS.map(({ image, title, issuer, date }) => (
				<div class="snap-center shrink-0 w-[min(300px,_calc(100%-1rem))] sm:w-72">
					<RecognitionItem image={image} title={title} issuer={issuer} date={date} />
				</div>
			))
		}
	</Carrousel>
</Subsection>

<ImageModal id="rec-recognition-modal" triggerAttr="data-rec-image" titleAttr="data-rec-title" />
