<section class="page-section bg-esg" id="habilidades">
    <div class="container">
        <header-section titulo = "Habilidades"
            descripcion = "Habilidades, conocimientos y fortalezas que he ido adquiriendo en la vida"/>

        <div class = "habilidades-item row">
            <div class="card border-none col-12 mb-5 bg-esg">
                <div class="card-header bg-main-esg border-none">
                    <div class="h3 text-light text-center mt-1">
                        <span class = "font-500">Lenguajes de Programación</span>
                    </div>
                </div>
                <div class="card-body bg-light-esg d-flex flex-wrap justify-content-around">
                    <logo-habilidad logo = "lenguajes/JavaScript" />
                    <logo-habilidad logo = "lenguajes/TypeScript" />
                    <logo-habilidad logo = "lenguajes/CSS" />
                    <logo-habilidad logo = "lenguajes/HTML" />
                    <logo-habilidad logo = "lenguajes/Java" />
                    <logo-habilidad logo = "lenguajes/Python" />
                    <logo-habilidad logo = "lenguajes/C" />
                    <logo-habilidad logo = "lenguajes/PhP" />
                    <logo-habilidad logo = "lenguajes/Ruby" />
                    <logo-habilidad logo = "lenguajes/Dart" />
                    <logo-habilidad logo = "lenguajes/Rust" />
                    <logo-habilidad logo = "lenguajes/C Sharp" />
                </div>
            </div>
            <div class="card border-none col-12 col-md-6 mb-5 bg-esg">
                <div class="card-header bg-main-esg border-none">
                    <div class="h3 text-light text-center mt-1">
                        <span class = "font-500">Frontend</span>
                    </div>
                </div>
                <div class="card-body bg-light-esg d-flex flex-wrap justify-content-around">
                    <logo-habilidad logo = "frontend/Angular" />
                    <logo-habilidad logo = "frontend/Ionic" />
                    <logo-habilidad logo = "frontend/Flutter" />
                    <logo-habilidad logo = "frontend/Unity" />
                </div>
            </div>
            <div class="card border-none col-12 col-md-6 mb-5 bg-esg">
                <div class="card-header bg-main-esg border-none">
                    <div class="h3 text-light text-center mt-1">
                        <span class = "font-500">Backend</span>
                    </div>
                </div>
                <div class="card-body bg-light-esg d-flex flex-wrap justify-content-around">
                    <logo-habilidad logo = "backend/Express" />
                    <logo-habilidad logo = "backend/NodeJS" />
                    <logo-habilidad logo = "backend/Django" />
                </div>
            </div>
            
            <div class="card border-none col-12 mb-5 bg-esg">
                <div class="card-header bg-main-esg border-none">
                    <div class="h3 text-light text-center mt-1">
                        <span class = "font-500">Otras herramientas</span>
                    </div>
                </div>
                <div class="card-body bg-light-esg d-flex flex-wrap justify-content-around">
                    <logo-habilidad logo = "otros/SQL" />
                    <logo-habilidad logo = "otros/MySQL" />
                    <logo-habilidad logo = "otros/Photoshop" />
                    <logo-habilidad logo = "otros/Illustrator" />
                    <logo-habilidad logo = "otros/Visual Studio" />
                    <logo-habilidad logo = "otros/NetBeans" />
                    <logo-habilidad logo = "otros/JavaFX" />
                </div>
            </div>
        </div>
    </div>
</section>