<section class="page-section bg-light" id="habilidades">
    <div class="container">
        <header-section titulo = "Habilidades"
            descripcion = "Habilidades, conocimientos y fortalezas que he ido adquiriendo en la vida"/>

        <div class = "habilidades-item">
            <div class="card border-none col-12 mb-5">
                <div class="card-header bg-main-esg border-none">
                    <div class="h3 text-light text-center mt-1">
                        <span class = "font-400">Lenguajes de Programación</span>
                    </div>
                </div>
                <div class="card-body bg-light-esg d-flex flex-wrap justify-content-center">
                    <logo-habilidad logo = "lenguajes/javaScript" />
                    <logo-habilidad logo = "lenguajes/TypeScript" />
                    <logo-habilidad logo = "lenguajes/CSS" />
                    <logo-habilidad logo = "lenguajes/HTML" />
                    <logo-habilidad logo = "lenguajes/java" />
                    <logo-habilidad logo = "lenguajes/python" />
                    <logo-habilidad logo = "lenguajes/c++" />
                    <logo-habilidad logo = "lenguajes/php" />
                    <logo-habilidad logo = "lenguajes/ruby" />
                    <logo-habilidad logo = "lenguajes/dart" />
                    <logo-habilidad logo = "lenguajes/rust" />
                </div>
            </div>
            <div class = "row justify-content-center">
                <div class="card border-none col-6 mb-5">
                    <div class="card-header bg-main-esg border-none">
                        <div class="h3 text-light text-center mt-1">
                            <span class = "font-400">Frameworks de Frontend</span>
                        </div>
                    </div>
                    <div class="card-body bg-light-esg d-flex flex-wrap justify-content-center">
                        <logo-habilidad logo = "frontend/angular" />
                        <logo-habilidad logo = "frontend/ionic" />
                        <logo-habilidad logo = "frontend/flutter" />
                    </div>
                </div>
                <div class="card border-none col-6 mb-5">
                    <div class="card-header bg-main-esg border-none">
                        <div class="h3 text-light text-center mt-1">
                            <span class = "font-400">Frameworks de Backend</span>
                        </div>
                    </div>
                    <div class="card-body bg-light-esg d-flex flex-wrap justify-content-center">
                        <logo-habilidad logo = "backend/express" />
                        <logo-habilidad logo = "backend/node" />
                        <logo-habilidad logo = "backend/django" />
                    </div>
                </div>
            </div>
            
            <div class="card border-none col-12 mb-5">
                <div class="card-header bg-main-esg border-none">
                    <div class="h3 text-light text-center mt-1">
                        <span class = "font-400">Otras herramientas</span>
                    </div>
                </div>
                <div class="card-body bg-light-esg d-flex flex-wrap justify-content-center">
                    <logo-habilidad logo = "otros/sql" />
                    <logo-habilidad logo = "otros/mysql" />
                    <logo-habilidad logo = "otros/photoshop" />
                    <logo-habilidad logo = "otros/illustrator" />
                    <logo-habilidad logo = "otros/visual-studio" />
                    <logo-habilidad logo = "otros/netbeans" />
                    <logo-habilidad logo = "otros/javafx" />
                </div>
            </div>
        </div>
    </div>
</section>