---
import AboutMeItem from "@/components/about-me/AboutMeItem.astro";
import { getAge, useT } from "@/i18n/utils";
import Arrow from "@/shared/components/Arrow.astro";
import HeaderSection from "@/shared/components/HeaderSection.astro";

const t = useT();

const age = getAge();

const aboutMe = [
	{
		icon: "fa-solid fa-user",
		title: "about-me.info-1.title",
		description: "about-me.info-1.description",
	},
	{
		icon: "fa-solid fa-code",
		title: "about-me.info-2.title",
		description: "about-me.info-2.description",
	},
	{
		icon: "fa-solid fa-envelope",
		title: "about-me.info-3.title",
		description: "about-me.info-3.description",
	},
];
---

<section id="about-me" class="max-w-6xl mx-auto my-20 text-content">
	<Arrow color="gold" />
	<div class="flex flex-col items-center justify-center">
		<HeaderSection title="about-me.title" />
		<div class="flex flex-wrap justify-center w-full mt-10">
			{
				aboutMe.map(({ icon, title, description }, index) => (
					<AboutMeItem
						icon={icon}
						title={title}
						description={description}
						hasButton={index === 2}
						age={age}
					/>
				))
			}
		</div>
	</div>
</section>
