<!-- Footer-->
<footer class="footer py-4 bg-dark">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start text-light">Copyright &copy; Emilio Ignacio Sáenz Gómez 2023</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-light btn-social mx-2" href="https://github.com/EmilioSG23" aria-label="GitHub" target="_blank"><i class="fab fa-github"></i></a>
                <a class="btn btn-light btn-social mx-2" href="https://gitlab.com/EmilioSG23" aria-label="GitHub" target="_blank"><i class="fab fa-gitlab"></i></a>
                <a class="btn btn-light btn-social mx-2" href="https://www.linkedin.com/in/emilio-s%C3%A1enz-g%C3%B3mez-4205b02b9/" aria-label="LinkedIn" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>