<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; Emilio Ignacio Sáenz Gómez 2023</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="https://github.com/EmilioSG23" aria-label="GitHub" target="_blank"><i class="fab fa-github"></i></a>
            </div>
            <div class="col-lg-2 text-lg-start">
                <b class="link-dark text-decoration-none">Correo personal</b>
                <p class="link-dark text-decoration-none">emiliosaenz&#64;gmail.com</p>
            </div>
            <div class="col-lg-2 text-lg-start">
                <b class="link-dark text-decoration-none">Correo institucional</b>
                <p class="link-dark text-decoration-none">eisaenz&#64;espol.edu.ec</p>
            </div>
        </div>
    </div>
</footer>