@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@plugin "@midudev/tailwind-animations";

@tailwind utilities;

/*@font-face {
	font-family: "Just Another Hand";
	font-style: normal;
	font-weight: normal;
	src: url("./fonts/Just Another Hand.ttf") format("truetype");
}*/

@font-face {
	font-family: "Cascadia";
	font-style: normal;
	font-weight: normal;
	src: url("./fonts/Cascadia.ttf") format("truetype");
}

@layer base {
	:root {
		--color-primary: #00245a;
		--color-gold: #ffc800;
		--color-background: white;
		--color-content: #000000;
		--color-neon: #000823;
		--color-hover: #c2edf7;
	}
	.dark {
		--color-background: #000823;
		--color-content: #ffffff;
		--color-neon: #5ae1ff;
		--color-hover: #0d152e;
	}
}

@theme {
	--color-primary: "var(--color-primary)";
	--color-gold: "var(--color-primary)";
	--color-background: "var(--color-primary)";
	--color-content: "var(--color-primary)";
	--color-neon: "var(--color-primary)";
	--color-hover: "var(--color-primary)";

	--font-main: "JetBrains Mono", monospace;
	--font-title: monospace, "Inter", sans-serif;
	--font-hand: "Just Another Hand", "cursive";
	--font-content: ;

	--breakpoint-xs: 420px;
	--breakpoint-xxs: 320px;

	--animate-border-extension: border-init 1s forwards;

	@keyframes border-init {
		to {
			width: 100%;
		}
	}
}

::-webkit-scrollbar {
	position: absolute;
	width: 0.5rem;
	background: var(--color-primary);
}

::-webkit-scrollbar-track {
	background: var(--color-primary);
}

::-webkit-scrollbar-thumb {
	background: #5ae1ff;
	border-radius: 10px;
}

html {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.info-normal {
	@apply text-[20px] xxs:text-[24px] xs:text-[36px] lg:text-[48px];
}
