---
import Section from "@/components/sections/Section.astro";
import { PERSONAL_SKILLS } from "@/data/personal-skills";
import { SKILLS } from "@/data/skills";
import PersonalSkills from "@/features/skills/PersonalSkills.astro";
import TerminalSkill from "@/features/skills/TerminalSkill.astro";
import { useT } from "@/i18n/utils";

const t = useT();
---

<Section id="skills">
	<div class="flex flex-col justify-center w-full gap-10 my-5 mt-20 lg:flex-row">
		<TerminalSkill skills={SKILLS} />
		<PersonalSkills skills={PERSONAL_SKILLS} />
	</div>
</Section>
