<div class="portfolio-item" data-aos = "fade-right">
    <a class="portfolio-link" data-bs-toggle="modal" href="#{{id}}">
        <div class="portfolio-hover">
            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
        </div>
        <img class="img-fluid img-proyecto" src="assets/proyectos/{{imagen}}" alt="..." />
    </a>
    <div class="portfolio-caption">
        <div class="portfolio-caption-heading">{{nombre}}</div>
        <div class="portfolio-caption-subheading text-muted">{{lenguajes}}</div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <h2 class="text-uppercase">{{nombre}}</h2>
                            <a class="item-intro text-muted mb-3" href = "{{link}}" target="_blank">Link al proyecto</a>
                            <img class="img-fluid d-block mx-auto" src="assets/proyectos/{{imagen}}" alt="..." />
                            <p>{{descripcion}}</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Lenguajes de programación usados:</strong>
                                    {{lenguajes}}
                                </li>
                                <li>
                                    <strong>Uso de:</strong>
                                    {{usos}}
                                </li>
                            </ul>
                            <button class="btn btn-secondary-blue btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>