.portfolio-item{
    border: 0.5pt solid;
    border-color: #00245a;
    box-shadow: 0pt 0pt 8pt #00245a8c;
}

.portfolio-modal .modal-body img {
    box-shadow: 0px 0px 20px -5px black;
}

@media only screen and (max-width: 576px) {
    .portfolio-modal .modal-body h2 {
      font-size: 32px !important;
    }
  }