<!-- Masthead-->
<header class="masthead curriculum-header bg-curriculum">
    <div class="container" id = "presentacion">
        <div class = "row">
            <div class = "col-lg-4" data-aos = "fade-right">
                <img class = "imagen-curriculum" src = "assets/images/perfil.jpg" atl = "...">
            </div>
            <div class = "col-lg-8 py-5" data-aos = "fade-left">
                <h1 class = "mb-5 pb-3"><span class = "font-300"> Soy </span><span class = "font-700">Emilio Sáenz</span></h1>
                <p>Joven informático, desarrollador de aplicaciones de <span class = "font-700">escritorio, web y móviles</span>. Programador intermedio con conocimientos de diseño gráfico básicos.</p>
                <a class="btn btn-secondary-blue btn-xl text-uppercase" href=""><i class="fas fa-download mr-2"></i>Descarga mi CV</a>
            </div>
        </div>
    </div>
</header>

<educacion-seccion />
<experiencia-seccion />
<habilidades-seccion />
<proyectos-seccion />