---
import Arrow from "@/components/sections/Arrow.astro";
import HeaderSection from "@/components/sections/HeaderSection.astro";
import { useT } from "@/i18n/utils";

const t = useT();

const { id } = Astro.props;
---

<section id={id} class="max-w-6xl mx-auto my-20 text-content">
	<Arrow color="gold" />
	<div class="flex flex-col items-center justify-center">
		<HeaderSection title={`${id}.title`} />
		<slot />
	</div>
</section>
