---
import Background from "../components/background.astro";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import LanguageToogleButton from "../components/languageToogleButton.astro";
import ThemeToggleButton from "../components/themeToggleButton.astro";
import Layout from "../layouts/Layout.astro";


---
<Layout>
    <Background />
    <div class = "flex flex-col h-full  ">
        <header class= `fixed top-0 left-0 right-0 z-50 backdrop-blur-[3px]}`>
            <nav class="bg-black/25 text-content font-main">
                <div class="hidden md:flex flex-wrap justify-between items-center p-6 gap-4 mx-auto max-w-4xl">
                <ThemeToggleButton />
                <a href="/" class = "hover:scale-110 hover:text-gold transition uppercase">Sobre Mí</a>
                <a href="/" class = "hover:scale-110 hover:text-gold transition uppercase">Experiencia</a>
                <a href="/" class = "bg-gold text-primary rounded-full p-[14px] scale-[2.5] hover:scale-[2.75] transition translate-y-4 mx-3">ESG</a>
                <a href="/" class = "hover:scale-110 hover:text-gold transition uppercase">Habilidades</a>
                <a href="/" class = "hover:scale-110 hover:text-gold transition uppercase">Proyectos</a>
                <LanguageToogleButton />
                </div>
            </nav>
        </header>
        <div class = "flex-grow flex justify-center items-center font-main">
            <div class="flex flex-col mx-auto max-w-6xl justify-center items-center text-content">
                <h1 class="font-bold text-[64px]">Ooooooops!</h1>
                <div id = "error" class = "flex flex-col text-center justify-center font-title font-extrabold uppercase my-10">
                    <i class = "fas fa-exclamation-triangle text-red-500 border-content text-[128px]"></i>
                    <span class = "text-[64px]">Error 404</span>
                </div>
                <div class = "flex flex-col text-center justify-center items-center">
                    <h2>Al parecer esta página no existe</h2>
                    <p class = "font-light">¡Pero tranquilo! Aplastando este botón podrás volver a la página principal. ¡Te espero ahí!</p>
                    <a href="/" class="mt-10 cursor-pointer bg-neon text-background rounded-[15px] p-2 m-2 text-center w-1/2 flex items-center justify-center
                                        gap-x-2 text-[30px]
                                        hover:brightness-125 hover:text-background transition">
                        <p class = "font-bold">Página Principal</p>
                    </a>
                </div>
            </div>
        </div>
        <Footer />
    </div>
</Layout>

<script>
    const $errorDiv = document.querySelector("div#error") as HTMLElement
    const errorAnimation = () => {
        setInterval(() => {
            if ($errorDiv && $errorDiv.style.visibility === "hidden") {
                $errorDiv.style.visibility = "visible";
            } else {
                $errorDiv.style.visibility = "hidden";
            }
        }, 500);
    }
    errorAnimation()
</script>

<style>
    nav{
        border-bottom: solid ;
        border-image: linear-gradient(90deg, rgba(255,200,0,1) 0%, rgb(255, 255, 255) 0%, rgba(255,200,0,1) 25%) 1;
    }
</style>