---
import { useT } from "../i18n/utils";
const t = useT(Astro.url)
---
<script>
    const textos = [
        "Yo soy",
        "Emilio Saenz",
        "Desarrollador web",
        "y móviles",
        "< FULL STACK />"
    ];

    function typeWriterEffect(spanElement: any, text: string | any[], speed = 100) {
        return new Promise<void>((resolve) => {
            let i = 0;
            spanElement.classList.add('animate-cursor');
            spanElement.innerText = '';

            const interval = setInterval(() => {
                spanElement.innerText += text[i];
                i++;

                if (i === text.length) {
                    clearInterval(interval);
                    if (spanElement.id !== 'ani-5') {
                        spanElement.classList.remove('animate-cursor');
                    }
                    resolve();
                }
            }, speed);
        });
    }

    async function animateText() {
        const elements = ['ani-1', 'ani-2', 'ani-3', 'ani-4', 'ani-5'];
        for (let i = 0; i < elements.length; i++) {
            const element = document.getElementById(elements[i]);
            if (element) {
                await typeWriterEffect(element, textos[i].replace(/ /g, '\u00A0'), 100);
            }
        }
    }
    //window.onload = animateText;
</script>

<section id = "info" class="my-5 text-content font-main">
	<div class="flex flex-col lg:flex-row items-center gap-y-5 py-20 gap-x-[64px] mx-auto max-w-6xl uppercase">
		<div class = "order-2 lg:order-1 flex-[2] lg:ml-5 flex justify-center mt-20 lg:mt-0">
			<img src = "perfil.webp" class = "w-[80%] sm:w-[35%] lg:w-[80%] rounded-[50px] border-[5px] border-neon
			duration-[600ms] taos:[transform:translate3d(-200px,0,0)_scale(1.2)] taos:opacity-0" data-taos-offset="200" alt = "Foto de perfil">
		</div>
		<div class = "order-1 lg:order-2 flex-[3] lg:mr-5 flex-col w-[80%] text-center lg:text-left lg:justify-start
		duration-[600ms] taos:[transform:scale(0.6)] taos:opacity-0 [animation-iteration-count:infinite]" data-taos-offset="100">
			<span id = "ani-1" class = "text-[24px] sm:text-[48px]" data-translate="info.ani-1">{t("info.ani-1")}</span><br>
			<h1 class = "font-title font-bold text-[36px] sm:text-[70px] uppercase inline-block">
				<span id = "ani-2" class="text-neon">Emilio Sáenz</span>
			</h1>
			<div class = {`h-[4px] w-full bg-neon`}></div>
			<div><span id = "ani-3"  class = "text-[24px] sm:text-[48px]" data-translate="info.ani-3">{t("info.ani-3")}</span></div>
			<div><span id = "ani-4"  class = "text-[24px] sm:text-[48px]" data-translate="info.ani-4">{t("info.ani-4")}</span></div>
			<div><span id = "ani-5"  class = "inline font-extrabold text-[28px] sm:text-[56px] text-neon">{"< FULL STACK />"}</span></div>
			<div class = "flex items-center justify-center mt-10 w-full">
				<a href="CurriculumVitae - Emilio Saenz.pdf" download = "CurriculumVitae - Emilio Saenz.pdf"
				class="bg-background cursor-pointer rounded-[20px] p-5 border-2 border-content m-5 text-center w-full sm:w-1/2 h-full flex items-center justify-center
				hover:bg-content hover:text-background transition normal-case gap-x-3">
					<i class = "fa fa-download text-[20px]"></i><span data-section="info" data-value="download-cv" data-translate="info.download-cv">{t("info.download-cv")}</span>
				</a>
			</div>
		</div>
	</div>
</section>

<style>
    .animate-cursor{
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        border-right: 5px solid var(--color-content);
        animation: cursor .4s step-end infinite alternate;
    }
    @keyframes cursor {
        50%{ border-color: transparent;}
    }

</style>