---
import Arrow from "../components/arrow.astro";
import HeaderSection from "../components/headerSection.astro";
---

<section id = "skills" class = "mx-auto max-w-6xl my-20 text-content">
    <Arrow side="l" color="gold"/>
    <div class = "flex flex-col justify-center items-center">
        <HeaderSection title = "Proyectos" />
        
    </div>
</section>