---
import Arrow from "../components/Arrow.astro";
import HeaderSection from "../components/HeaderSection.astro";
import { SKILLS } from "../consts/skills";
import { useT } from "../i18n/utils";

const t = useT()

const HABILIDADES_PERSONALES = [
	"skills.personal-skill-1",
	"skills.personal-skill-2",
	"skills.personal-skill-3",
	"skills.personal-skill-4",
	"skills.personal-skill-5"
]

---

<section id = "skills" class = "mx-auto max-w-6xl my-20 text-content">
	<Arrow color="gold"/>
	<div class = "flex flex-col justify-center items-center">
		<HeaderSection title = "skills.title" data-translate="skills.title"/>
		<div class = "flex flex-col lg:flex-row justify-center w-full my-5 gap-10 mt-20">
			<div class = "lg:flex-[3] bg-black border-2 border-[#5AE1FF]
			order-2 lg:order-1 w-[90%] lg:w-full min-h-[550px] self-center overflow-hidden rounded-[12px]
			duration-[600ms] taos:opacity-0 [animation-iteration-count:infinite]" 
			data-taos-offset="100">
				<div class = "flex justify-center items-center bg-primary text-white text-[12px] sm:text-[16px]
							h-[42px] border-b-2 border-[#5AE1FF]">
					<div class = "flex-1 mx-5 font-main">
						<span class="show-full" data-translate="skills.window.title.full">{t("skills.window.title.full")}</span>
						<span class="show-short" data-translate="skills.window.title.short">{t("skills.window.title.short")}</span>
					</div>
					<div class = "px-4 bg-white/5 h-full text-center flex items-center justify-center border-x-2 border-[#5AE1FF]"><i class = "fa fa-minus"></i></div>
					<div class = "px-4 bg-white/5 h-full text-center flex items-center justify-center"><i class = "fa-regular fa-window-restore"></i></div>
					<div class = "px-4 bg-red-600 h-full text-center flex items-center justify-center border-l-2 border-[#5AE1FF]"><i class = "fa fa-x"></i></div>
				</div>
				<div class = "p-5 flex flex-col text-white">
					{SKILLS.map((skill) => (
						<div class="flex flex-col">
							<button id = "toogleContent" class = "text-[16px] md:text-[24px] font-main hover:underline self-start cursor-pointer">
								<span class="show-full">{"> "}<span data-translate={skill["name"]}>{t(`${skill["name"]}`)}</span></span>
								<span class="show-short">{"> "}<span  data-translate={skill["shortName"]}>{t(`${skill["shortName"]}`)}</span></span>
							</button>
							<div id = {"div-"+skill["id"]} class = "py-2 skill-content closed grid grid-cols-3 sm:grid-cols-4 md:grid-cols-5 gap-3 justify-around">
								{skill["values"].map((data) => (
									<div class = "flex flex-col text-center justify-center items-center hover:scale-110 transition">
										<img loading="lazy" src = {`habilidades/${skill["id"]}/${data["id"]}.png`}
										class = "w-8 h-8" />
										<p class = "font-light text-sm">{data["name"]}</p>
									</div>
								))}
							</div>
						</div>
					))}
					<p id = "helpSeleccion" class = "text-[12px] md:text-[16px] font-main font-extralight italic text-white/50" data-translate="skills.window-select">
							{t("skills.window-select")}</p>
				</div>
			</div>

			<div class = "order-1 lg:order-2 lg:flex-[2] self-center bg-[#F5F5F5] -rotate-3 w-[80%] sm:w-[60%] md:w-[50%] lg:mr-6 xl:mr-0
			duration-[600ms] taos:opacity-0 [animation-iteration-count:infinite]" data-taos-offset="200">
				<div class = "flex flex-col p-5 sm:px-10 font-hand text-[18px]">
					<h3 class = "border-y border-black/25 py-1 text-red-600 text-[36px] sm:text-[52px]"data-translate="skills.personal-skills.title">{t("skills.personal-skills.title")}</h3>
					<div class = "text-[24px] sm:text-[32px]">
						{HABILIDADES_PERSONALES.map((habilidad) => (
							<div class={`border-b border-black/25 py-1 text-black`}>
							<span>{"• "}<span  data-translate={habilidad}>{t(habilidad)}</span></span>
							</div>
						))}
					{Array.from({ length: 3 }).map((_, i) => (
						<div class={`border-b border-black/25 py-1 text-black`}>{'\u00A0'}</div>
					))}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
    .skill-content {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.2s linear, opacity 0.3s ease;
    }

    .skill-content.open {
        max-height: 250px;
        opacity: 1;
    }

    .closed {
        max-height: 0;
    }

    @media (min-width: 520px){
        .show-full{display:inline;}
        .show-short{display:none;}
    }
    @media (max-width: 520px){
        .show-full{display:none;}
        .show-short{display:inline;}
    }
</style>

<script>
import { SKILLS } from "../consts/skills";
const $helpSeleccion = document.getElementById("helpSeleccion")

document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll("button#toogleContent").forEach((button, index) => {
        button.addEventListener("click", () => {
            $helpSeleccion?.remove()
            const $divContents = document.querySelectorAll("div[id^='div-']")
            $divContents.forEach((div) => {
                const isCurrentDiv = div.id === `div-${SKILLS[index]["id"]}`;
                div.classList.toggle("open", isCurrentDiv && !div.classList.contains("open"));
                div.classList.toggle("close", !isCurrentDiv || div.classList.contains("open"));
            });
        });
    });
});
</script>