*{
    font-family: 'Montserrat', sans-serif;
    color: #5f6c7b;
    line-height: 150%;
}

body{
    background: linear-gradient(rgb(244, 250, 255),#95d3ff,#95d3ff,rgb(244, 250, 255));
}

.second-header{
    display: flex;
    flex-direction: row;
    border-bottom: 1pt solid #094067;
}
.second-header img{
    margin-top: 18px;
    width: 35px;
    height: 35px;
}
.second-header h2{
    margin-left: 10px;
    font-family: 'Expletus Sans', serif;
    color: #094067;
}

.section{
    margin: 10px;
    border: 1pt solid #094067;
    border-radius: 0px 40px 0px 40px;
    padding: 0.5% 2.5%;
    box-shadow: 0px 0px 5px 1px;
}

.proyecto-section{
    border-bottom: 1pt solid #094067;
}
#proyecto_edd2{
    border-bottom: none;
}
.footer{
    text-align: center;
}

h1{
    font-family: 'Hind Madurai', serif;
    text-align: center;
    font-weight: 1000;
    font-size: 32pt;
    color: #094067;
}

h3{
    color: #094067;
}


main{
    display:grid;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-columns: 0.5fr repeat(4, 1fr) 0.5fr;
}
#menu{
    grid-column: 3 / 5;
    grid-row: 1 / 2 ;
    background-color: #E7F3FC;
}
#info-personal{
    background-color: #E7F3FC;
    grid-column: 2 / 4;
    grid-row: 2 / 3 ;
}
#datos-personales{
    display: grid;
    flex-direction: row;
    grid-template-areas: "inf inf foto"
                        "ubi ubi foto";
}
#datos-personales #info-datos-personales{
    grid-area: inf;
}
#datos-personales img{
    margin-top: 30px;
    border: 1pt solid black;
}

#educacion{
    background-color: #fffffe;
    grid-column: 2 / 3;
    grid-row: 3 / 4 ;
    ol {
        color: #90b4ce;
    }
}
#experiencia{
    text-align: justify;
    background-color: #fffffe;
    grid-column: 3 / 4;
    grid-row: 3 / 4 ;
}
#habilidades{
    background-color: #E7F3FC;
    grid-column: 2 / 4;
    grid-row: 4 / 5 ;
}
#tabla-habilidades table{
    margin: 20px;
    border-collapse: collapse;
    border: 2pt solid #094067;
    border-spacing: 5pt;
}
#tabla-habilidades td{
    border: 2pt solid #094067;
    padding: 1% 5%;
}
#tabla-habilidades th{
    border: 2pt solid #094067;
    background-color: #90b4ce;
    color: #094067;
    padding: 1%;
    margin: 2px;
}
#proyectos{
    text-align: justify;
    background-color: #fffffe;
    grid-column: 4 / 6;
    grid-row: 2 / 9 ;
}
.images-proyectos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 10px;
}
.images-proyectos img{
    width: 225px;
    height: 150px;
    padding: 0% 2%;
}
.images-proyectos img:hover {
    transform: scale(1.2);
  }
#contactar{
    background-color: #fffffe;
    grid-column: 2 / 4;
    grid-row: 5 / 6 ;
}
#contactar-formulario label{
    color: #094067;
}
#contactar-formulario input{
    margin-left: 10pt;
}
#contactar-formulario li{
    padding: 1%;
}