---
const  {color} = Astro.props;

---

<div id = "arrow" class = "flex justify-center items-center">
    <div class = {`flex-1 h-1`} style = {`background-color: var(--color-${color});`}></div>
</div>