---
const  {color} = Astro.props;

---

<div id = "arrow" class = "flex items-center justify-center">
    <div class = {`flex-1 h-[2px] sm:h-[3px] lg:h-[4px] mx-auto max-w-[80%] lg:max-w-[90%] xl:max-w-full`} style = {`background-color: var(--color-${color});`}></div>
</div>