<div class = "fixed inset-0 bg-background -z-10 pointer-events-none">
    <div id = "stars" class = "fixed inset-0 -z-9 bg-[url('public/stars.png')]"></div>
</div>

<style>
    #stars{
        object-fit: cover;
        background-size: 80% 100vh;
        filter: brightness(0) saturate(100%) contrast(100%);
        animation: moving 300s linear infinite, degrading 10s ease-out infinite;
    }
    html.dark #stars{
        filter: brightness(1) saturate(100%) contrast(100%);
    }
    @keyframes moving {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 1000% 0;
        }
        100%{
            background-position: 0 0;
        }
    }
    @keyframes degrading {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.25;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes degrading2 {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
</style>