<div class="fixed inset-0 bg-background -z-10 pointer-events-none transition">
	<div id="stars" class="fixed inset-0 -z-9"></div>
</div>

<style>
	#stars {
		background-image: url("/curriculum/stars.webp");
		object-fit: cover;
		background-size: 80%;
		filter: brightness(0) saturate(100%) contrast(100%);
		animation:
			moving 300s linear infinite,
			degrading 10s ease-out infinite;
	}
	html.dark #stars {
		filter: brightness(1) saturate(100%) contrast(100%);
	}

	@media (max-width: 1024px) {
		#stars {
			background-size: 140%;
		}
	}

	@media (max-width: 768px) {
		#stars {
			background-size: 200%;
		}
	}

	@media (max-width: 640px) {
		#stars {
			background-size: 250%;
		}
	}

	@media (max-width: 480px) {
		#stars {
			background-size: 350%;
		}
	}
	@media (max-width: 320px) {
		#stars {
			background-size: 500%;
		}
	}

	@keyframes moving {
		from,
		to {
			background-position: 0 0;
		}
		50% {
			background-position: 1000% 0;
		}
	}

	@media (max-width: 1024px) {
		@keyframes moving {
			from,
			to {
				background-position: 0 0;
			}
			50% {
				background-position: 700% 0;
			}
		}
	}

	@media (max-width: 768px) {
		@keyframes moving {
			from,
			to {
				background-position: 0 0;
			}
			50% {
				background-position: 400% 0;
			}
		}
	}

	@media (max-width: 480px) {
		@keyframes moving {
			from,
			to {
				background-position: 0 0;
			}
			50% {
				background-position: 250% 0;
			}
		}
	}
	@keyframes degrading {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0.25;
		}
		100% {
			opacity: 1;
		}
	}
</style>
