---
const {url, texto} = Astro.props
---

<a
  href={url}
  class="cursor-pointer rounded-[20px] p-5 border-2 border-content m-5 text-center w-1/2 h-full flex items-center justify-center
  hover:bg-content hover:text-background transition normal-case"
>
  {texto}
</a>