---
const {title} = Astro.props;
---

<h1 class = "font-main font-extrabold text-center
text-[32px] sm:text-[48px] md:text-[64px] text-content uppercase 
border-b-2 border-neon
delay-[300ms] duration-[600ms] taos:scale-[0.6] taos:opacity-0 [animation-iteration-count:infinite]" data-taos-offset="100">{title}</h1>