<a href="#info"
class = "bg-gold text-primary rounded-full p-[14px] transition mx-3
        scale-[1.5] hover:scale-[1.75] md:scale-[2] md:hover:scale-[2.25] lg:scale-[2.5] hover:lg:scale-[2.75] 
        md:translate-y-2 lg:translate-y-4">
    ESG
</a>