<section class="page-section bg-light" id="quien_soy">
    <div class="container">
        <header-section titulo = "¿Quién soy?"
            descripcion = "¿Quieres saber más de mí? Entonces, aquí van unos datos"/>
        <div class = "d-flex justify-content-center">
            <div class = "col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h3 class="card-title datos justify-content-between" style = "display:flex"><i class = "fa fa-user"></i>Datos personales<i></i></h3>
                        <ul class="datos">
                        <li><p class="card-text"><b>Nombres: </b>Emilio Ignacio</p></li>
                        <li><p class="card-text"><b>Apellidos: </b>Sáenz Gómez</p></li>
                        <li><p class="card-text"><b>Residencia: </b>Ecuador</p></li>
                        <li><p class="card-text"><b>Correos Electrónicos: </b></p>
                            <ul>
                                <li>emiliosaenz2001&#64;gmail.com</li>
                                <li>eisaenz&#64;espol.edu.ec</li>
                            </ul>
                        </li>
                        </ul>
                        
                    </div>
                    </div>
            </div>
        </div>
    </div>
</section>