<section class="page-section bg-light-esg" id="experiencia">
    <header-section titulo = "Experiencia Laboral"
        descripcion = "Experiencias que he hecho a lo largo de los años"/>
    <div class = "row justify-content-center gap-2">
        @for (experiencia of experiencias; track experiencia.lugar){
        <div class="card mb-5 col-sm-12 col-md-8 col-lg-8 col-xl-5 col-xxl-3 bg-card-secondary-esg" data-aos ="fade-right">
            <div class="card-body bg-card-esg text-center">
                <h5 class="card-title" style = "font-size: 20pt;">{{experiencia.lugar}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{experiencia.ocupacion}}</h6>
                <p class="card-text">{{experiencia.descripcion}}</p>
            </div>
        </div>
        }
    </div>
</section>