---
import Background from '../components/Background.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---
<!doctype html>
<html lang="es" class = "dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portafolio Web - Emilio Sáenz</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	</head>
	<body class = "transition">
		<Header />
		<Background />
		<slot />
		<Footer />
		<script src="https://unpkg.com/taos@1.0.5/dist/taos.js"></script>
	</body>
</html>

<style>
	@import '@fortawesome/fontawesome-free/css/all.min.css';
	@tailwind base;
	@tailwind components;
	@layer base{
		:root{
			--color-primary: #00245a;
			--color-gold: #ffc800;
			--color-background: white;
			--color-content: #000000;
			--color-neon: #000823;
			--color-hover: #c2edf7;
		}
		.dark{
			--color-background: #000823; 
			--color-content: #ffffff;
			--color-neon: #5AE1FF;
			--color-hover: #0d152e;
		}
	}	
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
